<div class="col-lg-10 bg-primary">
    <p id="notice"><%= notice %></p>
    <h1>List of Booking of all the sports </h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sports Name</th>
          <th>Start Time</th>
          <th>End Time</th>


          <th colspan="3"><h3>Actions</h3></th>
        </tr>
      </thead>
      <tbody>
        <% @bookdetails.each do |book| %>
          <tr>
            <td><%= Sport.find(book.sport_id).name %><br></td>
            <td><%= book.start_time %><br></td>
            <td><%= book.end_time %>&nbsp;&nbsp;</td>


            <td><%= link_to 'Show', book, class: "btn btn-success" %></td>
            <td><%#= link_to 'Edit', edit_movie_path(movie), class: "btn btn-success" %></td>
            <td><%#= button_to 'Delete', movie_path(movie), method: :delete, class: 'btn btn-danger', form: {data: { turbo_confirm: "Are you sure?" }}  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Sport', new_sport_path, class: "btn btn-success btn-lg" %>
  </div>